<aside>
  <header>
    <h2>
      <span><i class="fa-solid fa-headphones-simple fa-sm"></i></span>Music
      Inventory
    </h2>
    <form action="/">
      <button type="submit" id="home">
        <i class="fa-solid fa-house" style="color: #ffffff fa-lg"></i>Home
      </button>
    </form>
    <form action="/search" method="GET" class="search-form">
      <label for="searchQuery"></label>
      <input
        type="text"
        id="searchQuery"
        name="searchQuery"
        placeholder="Search..."
        autocomplete="off"
      />

      <label for="browserSelect"></label>
      <select id="type" name="browserSelect">
        <option value="Artists">Artist</option>
        <option value="Albums">Album</option>
        <option value="Genres">Genre</option>
        <option value="Labels">Label</option>
      </select>
      <button type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>Search
      </button>
    </form>
  </header>
  <nav>
    <h4>Categories</h4>
    <ul>
      <li>
        <form action="/category/Artist">
          <button type="submit">Artists</button>
        </form>
      </li>
      <li>
        <form action="/category/Albums">
          <button type="submit">Albums</button>
        </form>
      </li>
      <li>
        <form action="/category/Genres">
          <button type="submit">Genres</button>
        </form>
      </li>
      <li>
        <form action="/category/Labels">
          <button type="submit">Labels</button>
        </form>
      </li>
    </ul>
    <h4>Add new</h4>
    <ul>
      <li>
        <form action="/create/Artist">
          <input type="hidden" name="type" value="Artist" /><button
            type="submit"
          >
            Add Artist
          </button>
        </form>
      </li>
      <li>
        <form action="/create/Album">
          <input type="hidden" name="type" value="Album" />
          <button>Add Album</button>
        </form>
      </li>
      <li>
        <form action="/create/Genre">
          <input type="hidden" name="type" value="Genre" />
          <button>Add Genre</button>
        </form>
      </li>
      <li>
        <form action="/create/Label">
          <input type="hidden" name="type" value="Label" />
          <button>Add Label</button>
        </form>
      </li>
    </ul>
  </nav>
</aside>
