<aside>
  <header>
    <h2>
      <span><i class="fa-solid fa-headphones-simple fa-sm"></i></span>Music
      Inventory
    </h2>
    <button class="home">
      <i class="fa-solid fa-house" style="color: #ffffff fa-lg"></i>HOME
    </button>
  </header>
  <nav>
    <h4>Catgetories</h4>
    <ul>
      <li><button>Artists</button></li>
      <li><button>Albums</button></li>
      <li><button>Genres</button></li>
      <li><button>Labels</button></li>
    </ul>
    <h4>Add new</h4>
    <ul>
      <li><button>Add Artist</button></li>
      <li><button>Add Album</button></li>
      <li><button>Add Genre</button></li>
      <li><button>Add Label</button></li>
    </ul>
  </nav>
</aside>
