<!-- <!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/sidebar.ejs") %>
    <h1>404 Error</h1>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="container">
      <%- include("./partials/sidebar.ejs") %>
      <div class="content">
        <div class="main-content">
            <h1>404 Error</h1>
            <a href="/" class="btn nav-btn">Go back</a>
        </div>
      </div>
    </div>
  </body>
</html>
